SECRET_KEY=your-secret-key-change-in-production
FRONTEND_URL=http://localhost:3000

# SMTP (Mailtrap for dev)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@jobboard.com
MAIL_PORT=587
MAIL_SERVER=smtp.mailtrap.io
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
